<%- include('components/navbar.ejs') %>
<div id="app">
    <%- include('components/sidebar-main-page.ejs') %>
    <div id="workspace">
        <h1>Workspace</h1>
        <div class="search-bar-container">
            <form method="get" action="/">
                <input placeholder="Pesquise no workspace" name="q" class="search-bar" autocomplete="off">
            </form>
        </div>
        <!-- TODO: Workspace folders-->
        <div class="workspace-section">
            <div class="workspace-section-title">
                <h2>Pastas compartilhadas</h2>
                <button onclick="" class="action-button">
                    <span class="material-symbols-outlined">
                        add
                    </span> <!-- + -->

                    Criar uma pasta</button>
            </div>
        </div>
        <div class="folders-container">
            <div class="folder-container">
                <div class="folder-icon darkmode-ignore" style="fill: #FFB423">
                    <%- include('../svgs/shared-folder.ejs') %>
                </div>
                <p>Projeto de informática</p>
            </div>
            <div class="folder-container">
                <div class="folder-icon darkmode-ignore" style="fill: #8735EF">
                    <%- include('../svgs/shared-folder.ejs') %>
                </div>
                <p>Escritório Durski</p>
            </div>
            <div class="folder-container">
                <div class="folder-icon darkmode-ignore" style="fill: #8735EF">
                    <%- include('../svgs/shared-folder.ejs') %>
                </div>
                <p>Escritório Durski</p>
            </div>
            <div class="folder-container">
                <div class="folder-icon darkmode-ignore" style="fill: #8735EF">
                    <%- include('../svgs/shared-folder.ejs') %>
                </div>
                <p>Escritório Durski</p>
            </div>
            <div class="folder-container">
                <div class="folder-icon darkmode-ignore" style="fill: #8735EF">
                    <%- include('../svgs/shared-folder.ejs') %>
                </div>
                <p>Escritório Durski</p>
            </div>
            <div class="folder-container">
                <div class="folder-icon darkmode-ignore" style="fill: #8735EF">
                    <%- include('../svgs/shared-folder.ejs') %>
                </div>
                <p>Escritório Durski</p>
            </div>
            <div class="folder-container">
                <div class="folder-icon darkmode-ignore" style="fill: #8735EF">
                    <%- include('../svgs/shared-folder.ejs') %>
                </div>
                <p>Escritório Durski</p>
            </div>
            <div class="folder-container">
                <div class="folder-icon darkmode-ignore" style="fill: #8735EF">
                    <%- include('../svgs/shared-folder.ejs') %>
                </div>
                <p>Escritório Durski</p>
            </div>
            <div class="folder-container">
                <div class="folder-icon darkmode-ignore" style="fill: #8735EF">
                    <%- include('../svgs/shared-folder.ejs') %>
                </div>
                <p>Escritório Durski</p>
            </div>
            <div class="folder-container">
                <div class="folder-icon darkmode-ignore" style="fill: #8735EF">
                    <%- include('../svgs/shared-folder.ejs') %>
                </div>
                <p>Escritório Durski</p>
            </div>
        </div>

        <div class="workspace-section">
            <div class="workspace-section-title">
                <h2>Contatos diretos</h2>
                <button onclick="" class="action-button">
                    <span class="material-symbols-outlined">
                        add
                    </span> <!-- + -->

                    Adicionar um contato</button>
            </div>
            <div class="folders-container">
                <div class="folder-container">
                    <div class="folder-icon darkmode-ignore" style="fill: #FFB423">
                        <%- include('../svgs/shared-folder.ejs') %>
                    </div>
                    <p>Projeto de informática</p>
                </div>
                <div class="folder-container">
                    <div class="folder-icon darkmode-ignore" style="fill: #8735EF">
                        <%- include('../svgs/shared-folder.ejs') %>
                    </div>
                    <p>Escritório Durski</p>
                </div>
                <div class="folder-container">
                    <div class="folder-icon darkmode-ignore" style="fill: #8735EF">
                        <%- include('../svgs/shared-folder.ejs') %>
                    </div>
                    <p>Escritório Durski</p>
                </div>
                <div class="folder-container">
                    <div class="folder-icon darkmode-ignore" style="fill: #8735EF">
                        <%- include('../svgs/shared-folder.ejs') %>
                    </div>
                    <p>Escritório Durski</p>
                </div>
                <div class="folder-container">
                    <div class="folder-icon darkmode-ignore" style="fill: #8735EF">
                        <%- include('../svgs/shared-folder.ejs') %>
                    </div>
                    <p>Escritório Durski</p>
                </div>
                <div class="folder-container">
                    <div class="folder-icon darkmode-ignore" style="fill: #8735EF">
                        <%- include('../svgs/shared-folder.ejs') %>
                    </div>
                    <p>Escritório Durski</p>
                </div>
                <div class="folder-container">
                    <div class="folder-icon darkmode-ignore" style="fill: #8735EF">
                        <%- include('../svgs/shared-folder.ejs') %>
                    </div>
                    <p>Escritório Durski</p>
                </div>
                <div class="folder-container">
                    <div class="folder-icon darkmode-ignore" style="fill: #8735EF">
                        <%- include('../svgs/shared-folder.ejs') %>
                    </div>
                    <p>Escritório Durski</p>
                </div>
                <div class="folder-container">
                    <div class="folder-icon darkmode-ignore" style="fill: #8735EF">
                        <%- include('../svgs/shared-folder.ejs') %>
                    </div>
                    <p>Escritório Durski</p>
                </div>
                <div class="folder-container">
                    <div class="folder-icon darkmode-ignore" style="fill: #8735EF">
                        <%- include('../svgs/shared-folder.ejs') %>
                    </div>
                    <p>Escritório Durski</p>
                </div>
            </div>
        </div>

    </div>
</div>
</div>