<div id="workspace">
    <h1>Workspace</h1>
    <div class="search-bar-container">
        <form method="get">
            <input placeholder="Pesquise no workspace" name="q" class="input-main" autocomplete="off">
        </form>
    </div>
    <div class="workspace-section">
        <div class="workspace-section-title">
            <h2>Pastas compartilhadas</h2>
            <button onclick="modal('new-folder')" class="action-button">
                <span class="material-symbols-outlined">
                    add
                </span> <!-- + -->

                Criar uma pasta</button>
        </div>
    </div>
    <div class="folders-container">
        <%  if(workspaceFolders.length > 0) { 
                for(var folderIndex in workspaceFolders){ %>
        <% var folder = workspaceFolders[folderIndex]; %>
        <%- include('components/folder/folder-component.ejs', { folderIndex, folder }) %>
        <% } } else { %>
        <p class="none-feedback">Nenhuma pasta criada</p>
        <% } %>
    </div>

    <div class="workspace-section">
        <div class="workspace-section-title">
            <h2>Contatos diretos</h2>
            <button onclick="modal('new-contact')" class="action-button">
                <span class="material-symbols-outlined">
                    add
                </span> <!-- + -->

                Adicionar um contato</button>
        </div>
        <div class="contacts-container">
            <% for(contact of contacts){ %>
            <a href="contact/<%=contact.id%>" style="color: black; text-decoration: none">
                <div class="contact" style="margin: 0;">
                    <div class="navbar-icon darkmode-ignore">
                        <span class="profile-icon"
                            style="color: white; background-color: <%= contact.avatarBGColor %>;">
                            <%= contact.name[0] %>
                        </span>
                    </div>
                    <p><%= contact.name %></p>
                </div>
            </a>
            <% } %>
            <% if (contacts.length === 0) { %>
            <p class="none-feedback">Nenhum contato adicionado</p>
            <% } %>
        </div>
    </div>
</div>